<li>

    {{#unless devoured}}
    <button class="eatIt list-group-item list-group-item-action" data-id="{{id}}" data-devoured="{{devoured}}">
        {{burger_name}}
    </button>
    {{/unless}}

    {{#if devoured}}
    {{burger_name}}
    {{/if}}

</li>