<div class="container">
    <br>
    <h1 class="text-center">Eat-Da-Burger!</h1>

    <br>
    <h4 class="text-center">Add a burger</h4>
    <div class="form-inline d-flex justify-content-center">

        <input id="newBurger" class="form-control col-5" type="text" placeholder="Enter a burger here">
        <button id="newBurgerButton" class="btn btn-dark">Add Burger</button>
    </div>

    <br><br><br>

    <div class="row">
        <div id="burgersToEat" class="col-6 text-center">
            <h3>Burgers to Devour!</h3>

            <ul class="list-group">
                {{#each burger}}
                {{#unless devoured}}
                {{>burgerPartial devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <br>
        <div id="burgersEaten" class="col-6 text-center">
            <h3>Burgers Devoured!</h3>

            <ul class="list-group">
                {{#each burger}}
                {{#if devoured}}
                {{>burgerPartial devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <footer class="fixed-bottom">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/api/burgers">Burger API</a>
            </li>
        </ul>
    </footer>

</div>