body {
  background: url("/assets/img/beef-2029405_640.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: 100% 100%;
  font-family: "Righteous", cursive;
}
